
@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";

@media only screen and (min-width: 769px) {

html {
    font-size: 0.875rem;
}

body {
    background-color: $grey-900;
}

.app-wrapper {
    background-color: $grey-900;

    .app-header {
        display: none;
    }

    .app-sidebar {
        height: 100vh;
        left: 0;
        overflow: scroll;
        position: fixed;
        top: 0;
        width: 212px;
        .sidebar-logo {
            border-color: rgba(255, 255, 255, 0.1) !important;
            height: 56px;
        }
        .sidebar-menu {
            margin: 0;
            padding: 0;
            a.nav-link {
                color: $grey-300;
                position: relative;
                &:hover,
                &.active {
                    background-color: $grey-800;
                    color: $white;
                }
                &.active {
                    &::before {
                        content: "";
                        height: 24px;
                        width: 4px;
                        background: $grey-300;
                        border-radius: 0 4px 4px 0;
                        left: -16px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                i {
                    width: 16px;
                }
            }
        }
    }

    .app-body {
        background-color: #fff;
        margin: 16px;
        margin-left: 212px;
        border-radius: 8px;
        height: calc(100vh - 32px);
        overflow-y: scroll;
        overflow-x: hidden;
        .event-info-wrapper,
        .itinerary-wrapper,
        .session-book-wrapper {
            max-width: 820px;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 16px;
        }
        .event-img {
            position: relative;
            &::before {
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 34%);
                border-radius: 0 0 8px 8px;
            }
            h1 {
                font-size: 1.875rem;
                position: absolute;
                bottom: 16px;
                left: 16px;
                color: $white;
            }
        }
        .event-info-wrapper {
            .event-info-icon {
                width: 16px;
            }
            .location-map-wrapper {
                .map-btn {
                    left: 16px;
                    bottom: 16px;
                }
            }
            .event-host-details {
                img {
                    width: 44px;
                    height: 44px;
                }
            }
        }
        p:last-of-type {
            margin: 0;
        }
        .itinerary-wrapper {
            .itinerary-item {
                .timeline-check {
                    outline: 4px solid $white;
                }
            }
        }
        .app-event-nav {
            > div {
                margin: 0 auto;
            }
        }
        .event-back-btn {
            a {
                color: $primary;
                text-decoration: none;
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}

}

@media only screen and (max-width: 768px) {

.app-wrapper {
    background-color: $grey-100;
    width: 100%;
    overflow-y: scroll;

    .app-header {
        .app-heading {
            width: 100%;
            max-width: 80%;
        }
        .event-sub-heading {
            font-size: $font-size-sm;
        }
        .btn-back {
            color: $primary;
        }
        .nav-tabs {
            border: none;
        }
    }

    .app-sidebar {
        display: none;
    }

    .app-footer {
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
    }

    .app-body {
        &.with-footer {
            padding-bottom: 100px;
        }
        .event-img {
            h1 {
                display: none;
            }
        }
        .itinerary-wrapper {
            .itinerary-item {
                .timeline-check {
                    outline: 4px solid $grey-100;
                }
            }
        }
        .event-back-btn,
        .booking-header,
        .session-header,
        .itinerary-header {
            display: none !important;
        }
    }
}

}

.app-wrapper {
    .app-body {
        .event-info-wrapper {
            .event-info-icon {
                width: 16px;
            }
            .location-map-wrapper {
                .map-btn {
                    left: 16px;
                    bottom: 16px;
                }
            }
            .event-host-details {
                img {
                    width: 44px;
                    height: 44px;
                }
            }
        }
        p:last-of-type {
            margin: 0;
        }
        .itinerary-wrapper {
            .itinerary-item {
                position: relative;
                &::before {
                    content: "";
                    height: 100%;
                    width: 1px;
                    position: absolute;
                    left: 12px;
                    top: 0;
                    bottom: 0;
                    background: $border-color;
                    z-index: 0;
                }
                .timeline-check {
                    height: 24px;
                    width: 24px;
                    i {
                        font-size: 11px;
                    }
                }
                &.clashing-time {

                }
            }
        }
        .itinerary-item {
            .card {
                flex: 1 0 0%;
            }
            .event-warning {
                padding-left: 34px;
            }
            .event-title {
                font-size: 1rem;
                color: $primary
            }
            .event-meta {
                i {
                    color: $primary;
                }
            }
        }
        .itinerary-none {
            > i {
                font-size: $icon-size-2xl;
            }
        }
        .app-event-nav {
            overflow: auto;
            white-space: nowrap;
            flex-wrap: nowrap;
            -ms-overflow-style: none;
            scrollbar-width: none; 
            &::-webkit-scrollbar {
                display: none;
            }
            .nav-link {
                background-color: $grey-200;
                border-radius: $border-radius;
                color: $secondary;
                font-weight: $font-weight-medium;
                display: inline-block;
                padding: 0.25rem 0.5rem;
                text-decoration: none;
                &.active {
                    background-color: $grey-300;
                    color: $primary;
                }
            }
        }
    }
}

// Custom components

.ticket {
    &.offcanvas-mobile {
        border-radius: 20px 20px 0 0;
        height: calc(100% - 36px);
        .offcanvas-header {
            .btn-close {
                margin-left: -8px;
            }
        }
    }
    &#ticket-view {
        .event-info-icon {
            width: 16px;
        }
    }
}
