
@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";

.app-wrapper {
    background-color: $grey-100;
    width: 100%;
    overflow-y: scroll;

    .app-header {
        .app-heading {
            width: 100%;
            max-width: 80%;
        }
        .event-sub-heading {
            font-size: $font-size-sm;
        }
        .btn-back {
            color: $primary;
        }
        .nav-tabs {
            border: none;
        }
    }

    .app-footer {
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
    }

    .app-body {
        &.with-footer {
            padding-bottom: 100px;
        }
        .event-info-wrapper {
            .event-info-icon {
                width: 16px;
            }
            .location-map-wrapper {
                .map-btn {
                    left: 16px;
                    bottom: 16px;
                }
            }
            .event-host-details {
                img {
                    width: 44px;
                    height: 44px;
                }
            }
        }
        p:last-of-type {
            margin: 0;
        }
        .itinerary-wrapper {
            .itinerary-item {
                position: relative;
                &::before {
                    content: "";
                    height: 100%;
                    width: 1px;
                    position: absolute;
                    left: 12px;
                    top: 0;
                    bottom: 0;
                    background: $border-color;
                    z-index: 0;
                }
                .timeline-check {
                    height: 24px;
                    width: 24px;
                    outline: 4px solid $grey-100;
                    i {
                        font-size: 11px;
                    }
                }
            }
        }
        .itinerary-item {
            .card {
                flex: 1 0 0%;
            }
            .event-warning {
                padding-left: 34px;
            }
            .event-title {
                font-size: 1rem;
                color: $primary
            }
            .event-meta {
                i {
                    color: $primary;
                }
            }
        }
        .itinerary-none {
            > i {
                font-size: $icon-size-2xl;
            }
        }
        .app-event-nav {
            overflow: auto;
            white-space: nowrap;
            flex-wrap: nowrap;
            -ms-overflow-style: none;
            scrollbar-width: none; 
            &::-webkit-scrollbar {
                display: none;
            }
            .nav-link {
                background-color: $grey-200;
                border-radius: $border-radius;
                color: $secondary;
                font-weight: $font-weight-medium;
                display: inline-block;
                padding: 0.25rem 0.5rem;
                text-decoration: none;
                &.active {
                    background-color: $grey-300;
                    color: $primary;
                }
            }
        }
    }
}

// Custom components

.offcanvas {
    &.offcanvas-mobile {
        border-radius: 20px 20px 0 0;
        height: calc(100% - 36px);
        .offcanvas-header {
            .btn-close {
                margin-left: -8px;
            }
        }
    }
    &#ticket-view {
        .event-info-icon {
            width: 16px;
        }
    }
}

@media only screen and (max-width: 1919px) {

}
